.commonheader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px 100px;
}

.commonlogo {
  font-size: 28px;
  font-weight: 900;
  font-family: "Space Grotesk", sans-serif;
  color: white;
}

.connect-button {
  background-color: #001b25;
  color: white;
  border: 0.5px solid white;
  outline: none;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 50px;
  font-family: "Space Grotesk", sans-serif;
  color: #fffdca;
  box-shadow: 0px 1px 10px 0px #fff;
}

.component {
  height: 2rem; /* equivalent to h-8 in Tailwind CSS */
  width: 2rem; /* equivalent to w-8 in Tailwind CSS */
}

.yellow-fill {
  fill: yellow;
  stroke: yellow;
  stroke-width: 1;
}

.green-fill {
  fill: green;
  stroke: green;
  stroke-width: 1;
}

@media screen and (max-width: 994px) {
  .commonheader {
    padding: 50px 100px;
  }
}

@media screen and (max-width: 768px) {
  .commonheader {
    padding: 40px 60px;
  }

  .connect-button {
    padding: 8px 30px;
  }
}

@media screen and (max-width: 426px) {
  .commonheader {
    width: 110%;
    margin: 0 auto;
  }

  .commonlogo {
    font-size: 20px;
  }

  .connect-button {
    padding: 6px 25px;
    border-radius: 30px;
  }
}
