.nameservice {
  padding: 0px 150px;
  color: white;
  overflow: hidden;
}

.nameservice-header {
  font-size: 40px;
  margin-bottom: 20px;
}

.column2{
  display: flex;
  gap: 15px;
  text-wrap: nowrap;
  width: 400px;}

.service-img{
  width: 50px;
  border-radius: 10px;
}

.column2 div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.column2 div p{
  margin: 0;
}

.name{
  font-size: 16px;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.by{
  font-size: 10px;
}

.c1{
  width: 100px;
}
.ant-table-wrapper,
.ant-table,
.ant-table-container,
.ant-table-content {
  background-color: transparent !important;
}

.ant-table-thead > tr > th {
  background-color: transparent !important; 
  color: white !important; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}

.ant-table-tbody > tr > td {
  background-color: transparent !important; 
  color: white !important; 
  border-bottom: 0px !important ;
}

.ant-table-column-sorters .ant-table-column-sorter-up,
.ant-table-column-sorters .ant-table-column-sorter-down {
  color: rgba(255, 255, 255, 0.315) !important; 
}

.ant-table-column-sorters .ant-table-column-sorter-up.active,
.ant-table-column-sorters .ant-table-column-sorter-down.active {
  color: white !important; 
}

.nameservice {
  overflow-x: auto; 
  white-space: nowrap;
}

.nameservice::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}

.nameservice::-webkit-scrollbar-track {
  background: transparent;
}

.nameservice::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1px;
}

.nameservice::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 994px) {
  .nameservice {
    padding: 50px 100px;
  }
}

@media screen and (max-width: 768px) {
  .nameservice {
    padding: 40px 60px;
  }
}

@media screen and (max-width: 426px) {
  .nameservice{
    padding: 0;
  }
}

