.nameservice {
  padding: 0px 10px;
  color: white;
  overflow: hidden;
  margin: auto;
}

.nameservice-header {
  font-size: 40px;
  padding: 0px 10px;
  color: white;
  margin-bottom: 20px;
}

.column2{
  display: flex;
  gap: 15px;
  text-wrap: nowrap;
  width: 400px !important;
}

.service-img{
  width: 50px;
  border-radius: 10px;
}

.column2 div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.column2 div p{
  margin: 0;
}

.name{
  font-size: 16px;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.by{
  font-size: 10px;
}

.ant-table-wrapper,
.ant-table,
.ant-table-container,
.ant-table-content {
  background-color: transparent !important;
}

.ant-table-thead > tr > th {
  background-color: transparent !important; 
  color: white !important; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
  border-right: 0px !important;
}

.ant-table-tbody > tr > td {
  background-color: transparent !important; 
  color: white !important; 
  border-bottom: 0px !important ;
  border-right: 0px !important;
}

.ant-table-column-sorters .ant-table-column-sorter-up,
.ant-table-column-sorters .ant-table-column-sorter-down {
  color: rgba(255, 255, 255, 0.315) !important; 
}

.ant-table-thead > tr > th:last-child,
.ant-table-tbody > tr > td:last-child {
  border-right: 0px !important;
}

.ant-table-column-sorters .ant-table-column-sorter-up.active,
.ant-table-column-sorters .ant-table-column-sorter-down.active {
  color: white !important; 
  
}

.ant-table-thead > tr > th::before,
.ant-table-tbody > tr > td::before,
.ant-table-thead > tr > th::after,
.ant-table-tbody > tr > td::after {
  content: none !important;
}

.ant-table-wrapper {
  overflow-x: auto;
}


